{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h1>Welcome Weary Traveler</h1>
<p>
	Are your dice foul or fair?<br>
	Do they tumble towards victory or defeat?<br>
	Are the odds ever in your favor?
	Is fate pulling you down a dark path?<br>
	<br>
	We can find the answers to those questions.<br>
	Just role your dice and put our services to work.
	<br>
</p>
<div id='contact'>
	<h2>Contact Us</h2>
	<p>
		Have Questions?
		Need Answers?
		Contact us below!
	</p>
	<form action="/about/" method="POST" style="text-align: center;" enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in form %}
			{{ field.label }}
			<br>
			{{ field }}
			<br>
		{% endfor %}
		<br>
		<input type="submit" value="Send">
	</form>
</div>
{% endblock %}