body{
	background-color: black;
	background-repeat: no-repeat;
	background-size: auto;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
}

#main{
	text-align: center;
	color: white;
	width: 100%;
	float: center;
	justify-content: center;
	margin: 0 auto;
}

#btmbar{
	height: 5%;
}

#fullcontent{
	width: auto;
	margin-top: 10%;
	justify-content: center;
}

form{
	text-align: center;
	float: center;
	justify-content: center;
}

#jury{
	
}